.sidebar-option {
    cursor: pointer;
    font-size: 0.825rem;
    padding-top: 6px;
    padding-bottom: 6px;
}

.sidebar-option:hover {
    background-color: lightblue;
}

a {
    border: none;
    text-decoration: none;
}